body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #90EE90; /* Verde claro */
    color: #006400; /* Verde oscuro */
}

.container {
    display: flex;
}

.menu {
    width: 200px; /* Ancho del menú lateral */
    background-color: #FFFFFF; /* Blanco */
    padding: 20px;
}

.logo {
    /* Estilos para el logo */
    height: 100px; /* Ejemplo */
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #006400; /* Verde oscuro */
    text-decoration: none;
}

main {
    flex: 1; /* El contenido principal ocupa el resto del espacio */
    padding: 20px;
}

header {
    background-color: #FFFFFF; /* Blanco */
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

button {
    background-color: #006400; /* Verde oscuro */
    color: #FFFFFF; /* Blanco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#resultados-analisis, #resultados-condiciones {
    margin-top: 20px;
}
